<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--The path where the files will be saved-->
    <add key="filePath" value="C:\TrackerData"/>
    <!--1 Higher score wins |0 Lower score wins-->
    <add key="greaterWins" value="1"/>
    <!--1 Send Email |0 Don't send email-->
    <add key="sendEmail" value="0"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=PC-WIN10\SQLSERVER;Database=Tournaments;Trusted_Connection=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>